.gameWrapper {
  width: 357px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin: auto;
}

.boardAndStatusWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-end;
}

.input {
  display: flex;
  justify-content: space-between;
}

.resetBtnWrapper {
  display: flex;
  justify-content: flex-end;
}

.resetButton {
  padding: 10px 20px;
  background: gray;
  color: white;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
}
