.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  margin: 50px auto;
}

.game-board {
  margin-bottom: 20px;
}

.game-info {
  margin-left: 20px;
}

.wrapper {
  width: 400px;
  padding: 0;
  border-radius: 3px;
}

.row {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.row > label {
  padding: 5px 10px 5px 0;
  flex: 1;
}

.row > input {
  flex: 2;
}

.row > input,
.row > button {
  padding: 7.5px;
}

.row > button {
  padding: 10px 20px;
  background: gray;
  color: white;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
}

.row > button:last-child {
  margin-left: 20px;
}

.status {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
