/* use square class to the Squares component */
.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 100px;
  font-weight: bold;
  line-height: 34px;
  width: 120px;
  height: 120px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square:focus {
  outline: none;
}

/* use the board class to the Board component */
.board {
  display: flex;
  flex-direction: column;
}

/* use the classes below to the Game component */

.gameWrapper {
  width:357px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin: auto;
}
